fastapi
uvicorn

torch
scikit-learn
scipy
numpy
pandas
joblib
faiss-cpu

sentence-transformers
transformers
tokenizers
huggingface_hub

openai
python-dotenv
requests
pydantic

opencv-python-headless
pillow
python-docx
lxml
pytesseract
pdf2image

google-generativeai
google-genai
fpdf
